<app-md-list *ngFor="let s3Config of (s3$ | async)?.s3Configs">
  <app-md-list-item [primaryText]="s3Config?.name"
                    [secondaryText]="s3Config?.bucket">
    <app-md-list-right-icon-button>
      <clr-dropdown clrPosition="bottom-right">
        <button type="button"
                class="dropdown-toggle"
                clrDropdownToggle>
          <clr-icon shape="ellipsis-vertical"></clr-icon>
        </button>
        <clr-dropdown-menu>
          <button type="button"
                  (click)="showDeleteS3ConfigModal(s3Config)"
                  clrDropdownItem>Delete
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </app-md-list-right-icon-button>
  </app-md-list-item>
</app-md-list>
