<div class="content-container">
    <div class="content-area">
      <router-outlet>
      </router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group">
          <input id="tabexample2" type="checkbox">
          <label for="tabexample2">My Lists</label>
          <ul class="nav-list">
            <li *ngFor="let list of (projectList$ | async).projectList">
              <a class="nav-link" [routerLink]="[list.id]">{{list.name}}</a>
            </li>
          </ul>
        </section>
      </section>
    </nav>
</div>
