<div class="content-container">
    <div class="content-area">
      <router-outlet>
      </router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group">
          <input id="tabexample2" type="checkbox">
          <label for="tabexample2">My Lists</label>
          <ul class="nav-list">
            <li *ngFor="let list of (projectList$ | async)?.projectList">
              <div class="nav-link" [routerLink]="[list.id]">
                <clr-icon class="delete-icon"
                          (click)="deleteList($event, list)"
                          shape="trash" size="18"></clr-icon>&nbsp;&nbsp;{{list.name}}
              </div>
            </li>
          </ul>
        </section>
      </section>
    </nav>

  <app-delete-project-list-modal></app-delete-project-list-modal>
</div>
