<clr-modal [clrModalClosable]="false"
           [clrModalOpen]="(login$ | async)?.showLogoutModal">
  <h3 class="modal-title">Logout</h3>
  <div class="modal-body">
    <p>Are you sure you want to logout?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="hideLogoutModal()">Cancel</button>
    <button type="button" class="btn btn-primary" [clrLoading]="(login$ | async)?.isLoggingIn"
            (click)="logout()">Ok
    </button>
  </div>
</clr-modal>
