<clr-modal [clrModalClosable]="false"
           [clrModalOpen]="(links$ | async)?.showAddLinkModal">
  <h3 class="modal-title">Create Link</h3>
  <div class="modal-body">
    <form [connect]="['links', 'addLinkForm']" autocomplete="off">
      <section class="form-block">

        <div class="form-group">
          <label class="required">Name</label>
          <label for="name"
                 aria-haspopup="true"
                 role="tooltip"
                 class="tooltip tooltip-validation tooltip-xs tooltip-bottom-left"
                 [class.invalid]="(links$ | async)?.addLinkForm?.name.length === 0">
            <input type="text"
                   name="name"
                   id="name"
                   size="32"
                   ngModel
                   required
                   maxlength="10"
                   #name="ngModel">

            <span class="tooltip-content">Please enter a name</span>
          </label>
        </div>

        <div class="form-group">
          <label class="required">Space</label>
          <label for="url"
                 aria-haspopup="true"
                 role="tooltip"
                 class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
                 required
                 [class.invalid]="(links$ | async)?.addLinkForm?.url.length === 0 || !isUrl(url.value)">
            <input type="url"
                   name="url"
                   id="url"
                   size="32"
                   ngModel
                   #url="ngModel">
            <span class="tooltip-content">
                    Please enter a valid url
                </span>
          </label>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description"
                    name="description"
                    rows="5"
                    ngModel></textarea>
        </div>

        <div class="form-group">
          <div class="toggle-switch">
            <input type="checkbox"
                   id="isPrivate"
                   name="isPrivate"
                   ngModel>
            <label for="isPrivate">Private</label>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="hideAddLinkModal()">Cancel</button>
    <button type="button"
            class="btn btn-primary"
            disabled
            *ngIf="name?.errors?.required || !isUrl(url.value)">Ok
    </button>
    <button type="button"
            class="btn btn-primary"
            [clrLoading]="(links$ | async)?.isAddingLink"
            *ngIf="!name?.errors?.required && isUrl(url.value)"
            (click)="addLink()">Ok
    </button>
  </div>
</clr-modal>
