<header class="header-6">
  <div class="branding">
    <a href="/" class="nav-link">
      <clr-icon shape="link"></clr-icon>
      <span class="title">Linkcouch</span>
    </a>
  </div>
  <div class="header-nav">
    <a [routerLink]="['/lists']" class="nav-link nav-text">My Lists</a>
    <a [routerLink]="['/links']" class="nav-link nav-text">My Links</a>
  </div>

  <app-nav-widget-search></app-nav-widget-search>

  <div class="header-actions">
    <clr-dropdown clrMenuPosition="bottom-right">
      <button class="nav-icon" clrDropdownToggle>
        <clr-icon shape="add"></clr-icon>
      </button>
      <clr-dropdown-menu>
        <a (click)="showAddLinkModal()" clrDropdownItem>Create Link</a>
        <a (click)="showAddListModal()" clrDropdownItem>Create List</a>
      </clr-dropdown-menu>
    </clr-dropdown>

    <app-nav-widget-user></app-nav-widget-user>
  </div>
</header>
