<content>
  <div class="main-container">

    <div *ngIf="(init$ | async)?.isInitializingApp">
      <app-init></app-init>
    </div>

    <div *ngIf="!(init$ | async)?.isInitializingApp">
      <app-search></app-search>

      <!-- nav -->
      <app-landing-navbar *ngIf="!(login$ | async)?.isLoggedIn"></app-landing-navbar>
      <app-navbar *ngIf="(login$ | async)?.isLoggedIn"></app-navbar>
      <!-- /nav -->

      <!-- Toaster -->
      <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
      <!-- /Toaster -->

      <router-outlet>
      </router-outlet>
      <app-add-project-modal></app-add-project-modal>
      <app-add-project-list-modal></app-add-project-list-modal>
      <app-login-modal></app-login-modal>
      <app-logout-modal></app-logout-modal>
    </div>
  </div>
</content>
