.md-list-item {
  margin-left: 0;
  padding: 16px 16px 16px 10px;
  position: relative;
}

.md-list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.md-list-item-secondary-text {
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  margin: 4px 0px 0px;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
