<div class="col-md-12">
  <button class="btn btn-sm btn-primary pull-right" (click)="showAddLinkToListModal()">Add Link</button>

  <div class="card">
    <div class="card-header">
      Links
    </div>
    <div class="card-block">
      <div class="card-text">

        <app-md-list>
          <a [href]="link.link.url" target="_blank" *ngFor="let link of (lists$ | async).selectedList">
            <app-md-list-item [primaryText]="link?.link?.name"
                              [secondaryText]="link?.link?.description">
            </app-md-list-item>
          </a>
        </app-md-list>

        <div class="text-center" *ngIf="(lists$ | async)?.isFetchingSelectedList">
          <span class="spinner spinner-md">
            Loading...
          </span>
        </div>

        <app-selected-list-empty
          *ngIf="!(lists$ | async)?.isFetchingSelectedList && (lists$ | async)?.selectedList.length === 0"></app-selected-list-empty>

      </div>
    </div>
  </div>
</div>
