<clr-modal [clrModalClosable]="false"
           [clrModalOpen]="(projects$ | async)?.showDeleteProjectModal">
  <h3 class="modal-title">Warning</h3>
  <div class="modal-body">
    Are you sure you want to delete "{{(projects$ | async)?.deletingProject?.name}}"
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="hideDeleteProjectModal()">Cancel</button>
    <button type="button" class="btn btn-primary" [clrLoading]="(projects$ | async)?.isDeletingProject"
            (click)="deleteProject()">Ok</button>
  </div>
</clr-modal>
