<clr-modal [clrModalClosable]="false"
           [clrModalOpen]="(projectList$ | async)?.showDeleteProjectListModal">
  <h3 class="modal-title">Warning</h3>
  <div class="modal-body">
    Are you sure you want to delete "{{(projectList$ | async)?.deletingProjectList?.name}}"
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="hideDeleteProjectListModal()">Cancel</button>
    <button type="button" class="btn btn-primary" [clrLoading]="(projectList$ | async)?.isDeletingProject"
            (click)="deleteProjectList()">Ok</button>
  </div>
</clr-modal>
